<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts Todo App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container-fluid bg-dark">
        <h1 class="text-center p-3">
            <a href="{% url 'index' %}" class="text-decoration-none text-info"><b>Django Todo App</b></a>   
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="my-3 text-success"><b>TodoApp's Accounts</b></h1>
                <ul>
                    {% for account in accounts %}
                        <li class="p-2"><b>
                           Name:  {{account.first_name}} {{ account.last_name }} <br>
                           Status:  {{ account.status }} <br>
                           Todo List:
                           {% for todo_item in todo_list %}
                                {% if todo_item.owner == account %}
                                    {{todo_item.title}};
                                {%endif%}
                           {% endfor%}
                        </b></li>
                    {% endfor%}
                </ul>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>    
</body>
</html>