{% extends "base.html" %}

{% block content %}

<h3>{{ title }}</h3>
<form method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-primary m-2">Submit</button>
    <button type="button" class="btn btn-primary m-2">
        <a href="{% url 'list' todo_list.id %}" class="text-decoration-none text-light">Cansel</a>
    </button>
    {% if object %}
        <button type="button" class="btn btn-danger">
            <a href="{% url 'item-delete' todo_list.id object.id %}" class="text-decoration-none text-light">
                Delete this item
            </a>
        s</button>
    {% endif %}
</form>

{% endblock %}